.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: rem(23px) 0;
  background: #fff;
}


.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include phones{
        flex-direction: column;  
        justify-content: center;
    }
 }


.footer__contacts{
    font-size: 21px;
    color: #292929;
    margin-top: rem(38px);
}

.footer__phone-number{
    font-size: 21px;
    color: #292929;
    
    @include phones {
        justify-content: center;
        margin-bottom: rem(12px);
    }
}

.phone-number__icon--footer{
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    margin-right: 0.33333rem;
}


.social__icon{
    width: rem(23px);
    height: rem(23px);
    margin-right: 1rem;

    @include phones{
        width: rem(37px);
        height: rem(37px);
    }
}
.social__list{
    display: flex;    
}

.social__icon-vk{
    width: rem(23px);
    height: rem(23px);
    margin-top: rem(4px);
    margin-right: 1rem;

    @include phones{
        width: rem(37px);
        height: rem(37px);
        margin-top: rem(4px);
        margin-right: 1rem;
    }
}