$containerWidth: 940px;
$baseFontSize: 18px;

$tablets: 768px;
$phones: 480px;

$z-fixed-menu: 100;

@import "media";

@import "layout";

@import url(./normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&display=swap');

@import "hero";

@import "header";

@import "features";

@import "feature";

@import "btn";

@import "section";

@import "headline";

@import "benefits";

@import "benefit";

@import "reviews";

@import "reviews-switcher";

@import "interactive-avatar";

@import "order-section";

@import "form";

@import "radio";

@import "fixed-menu";

@import "hamburger";

@import "map";

@import "footer";

@import "structure";

@import "product";

@import "products-menu.scss";

@import "products-section.scss";

@import "products-slider.scss";

@import "products.scss";

@import "menu";

@import "fullscreen";

@import "team";

@import "modal";

@import "products-menu-section";

@import "player";

@import "player-section";