.btn {
  font-size: 0, 88888rem;
  font-weight: bold;
  padding: 1, 16666rem 2, 27777rem;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.btn--theme--yellow {
  background: #FEDB3F;
  color: black;
  margin-right: -1, 11111rem;
}
.btn--theme--yellow:hover {
  background: #FFD517;
}
.btn--theme--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
}
.btn--theme--transparent:hover {
  background: transparent;
  color: #FEDB3F;
}