.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  margin-right: rem(12px);
}

.feature__text {
  font-size: rem(16px);
  max-width: rem(90px);
  line-height: 1.1;
}