.order-section {
  background: url(../../img/background/jeremy-bishop-cmt3JdS5MC4-unsplash.png) center/100% no-repeat;
  height: 100vh;
  min-height: rem(652px);
}

.order-section--container {
  height: 100%;
}